/*--------------------------------- general */
h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.7rem;
}

.sbwins-hr {
    border: 1px solid #fb4f14;
    width: 35%;

}

.players-hr {
    border: 1px solid #024;
    width: 35%;
}

.hr-opponents {
    border: 3px solid #fb4f14;
    width: 80%;
    margin: 50px auto 50px auto;
}

.opponents-hr {
    border: 1px solid #fb4f14;
    width: 35%;

}




/*--------------------------------- navbar */

#broncos-badge {
    width: 50px;
    height: 50px;
}

.nbar {
    background-color: #888;

}

.nbar .nav-item .nav-link {
    color: #024;
    text-transform: initial;
}

/*--------------------------------- hero image */

.hero-image {
    background: url('../images/hero-image/stadium1.jpg') no-repeat fixed center center;
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: auto;
}

.welcome {
    font-size: 5.5vw;
    font-weight: 200;
    color: #024;
    font-family: 'Ubuntu', sans-serif;
}

/*--------------------------------- facts section */

.facts-section {
    background-color: #888;

}

.welcome-p {
    font-size: 1.5rem;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: 'Oxygen', sans-serif;
    color: #024;
    font-weight: bold
}

.facts {
    font-size: 1rem;
    font-family: 'Oxygen', sans-serif;
    color: #024;
}

.facts-1 {
    margin-top: 30px;
}

.facts-3 {
    margin-top: 30px;
}

.facts-2 {
    margin-top: 90px;
}



.facts-logo {
    text-align: center;
    border-radius: 5px 20px 5px;
    border: 3px solid #024
}

/*--------------------------------- superbowls wins */
.sbwins-heading {
    background-color: ;
}

.wins {
    border: 0.5px solid #888;
}

.sbwins {
    margin-bottom: 30px;
    font-size: 1.1rem;
    font-weight: bold;
}

.sbtbl {
    margin-left: 5px;
}

#superbowl {
    background-color: #024;
    color: #fb4f14;
    font-family: 'Oxygen', sans-serif;

}

.sb32 {
    margin: auto;
    width: 270px;
    height: 250px;
    margin-bottom: 50px;
}


.sb33 {
    margin: 0 auto;
    width: 270px;
    height: 250px;
    margin-bottom: 50px;
}



.sb50 {
    margin: 0 auto;
    width: 270px;
    height: 250px;
    margin-bottom: 50px;
}

.sbp {
    margin-bottom: 50px;
    font-size: 1rem;
}

/*--------------------------------- players to watch */

.players-section-full {
    padding-top: 50px;
    padding-bottom: 50px;

}

#players {
    background-color: #fb4f14;
    margin: auto;
    font-family: 'Oxygen', sans-serif;
    color: #024;
    font-size: 1.1rem;
}

.jerry {
    height: inherit;
    width: 300px;
    margin-top: 5vh;
    border-radius: 50%;
}

.von {
    margin-top: 5vh;
    height: inherit;
    width: 300px;
    border-radius: 50%;
}

.players2watch {
    margin-top: 3vh;
}

.players2watch h3 {
    margin-bottom: 2vh;
}

/*--------------------------------- 2021 opponents */

.opponents-logo {
    border-radius: 50%;
    width: 100%;
}

.opponents-logo1 {
    border-radius: 50%;
    width: 65%;
    margin-left: 12%;
}

.opponents-section-full {
    padding-top: 50px;
    padding-bottom: 80px;

}

.vr-opponents1 {
    width: 3px;
    height: 250px;
    background: #fb4f14;
    margin: auto;
}

.vr-line {
    height: 100%;
    margin: auto;
}

/*--------------------------------- sign up form */
.sign-up-form {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 85%;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    margin: 0 auto;
    border: solid 4px #fb4f14;
}

.form-logo {

    width: 55%;
    margin: 0 auto;
}

.sign-up-modal {
    color: #fb4f14;
}

.sign-up-pop-up-btn {
    background-color: #fb4f14;
    color: #024;

}

.modal-pop-up-btn {
    background-color: #fb4f14;
    color: #024;
}

@media only screen and (max-width: 600px) {
    .vr-opponents {
        transform: rotate(0.25turn)
    }
}